alias ls="ls -F"
alias l=ls
alias ll="ls -alh"
alias la="ls -a"
alias ltr="ls -ltr"

if [[ $(uname -s) == "Darwin" ]]; then
    #alias sed=gsed
    #alias find=gfind
fi

alias find0="gfind -print0"
alias xargs0="xargs -0"

alias serve="python -m SimpleHTTPServer"

alias tree="tree -C"

alias vlc="open -na vlc "

alias e=ranger

#override omz git alias
alias gbr="git branch"
