alias ls="ls -F --color=always"
alias l=ls
alias ll="ls -alh"
alias la="ls -a"
alias sed=gsed
alias find=gfind
alias find0="gfind -print0"
alias xargs0="xargs -0"

alias serve="python -m SimpleHTTPServer"

alias tree="tree -C"

alias vlc="open -a vlc "
alias st="open -a SourceTree "
