alias ls="ls -F"
alias l=ls
alias ll="ls -alh"
alias la="ls -a"
alias ltr="ls -ltr"

if [[ $(uname -s) == "Darwin" ]]; then
    alias sed=gsed
    alias find=gfind
fi

alias find0="gfind -print0"
alias xargs0="xargs -0"

alias serve="python -m SimpleHTTPServer"

alias tree="tree -C"

alias vlc="open -a vlc "
alias st="open -a SourceTree "
alias sb="open -a \"Sublime Text 2\" "
alias spotify="osascript ~/proj/SpotifyControl.scpt" 
alias scalaz="scala -cp ~/Downloads/scalaz-core_2.11-7.1.0.jar"
