/[^.]*
/.CFUserTextEncoding
/.DS_Store
/.IntelliJIdea14
/.IntelliJIdea15
/.Trash
/.account
/.ammonite
/.bash_history
/.cache
/.config
/.dbshell
/.docker
/.dropbox
/.gem
/.gitignore.swp
/.gradle
/.htoprc
/.idea-build
/.ivy2
/.lesshst
/.m2
/.mongorc.js
/.netrwhist
/.npm
/.oh-my-zsh
/.psql_history
/.sbt
/.scala_history
/.ssh
/.vim/bundle
/.viminfo
/.yjp
!/.ssh/config
.eclipse
.hex
.jupyter-scala/bootstrap
.local/share/heroku
.vscode
.netrwhist
.vim-fuf-data
.oracle_jre_usage
.jmc
.jprofiler9
.zsh_history
.activator
.coursier/bootstrap
.coursier/cache
.cpan
