!/.ssh/config
/.CFUserTextEncoding
/.DS_Store
/.IntelliJIdea14
/.IntelliJIdea15
/.Trash
/.Xauthority
/.account
/.activator
/.adobe
/.ammonite
/.android
/.atom
/.aws
/.bash_history
/.cache
/.config
/.coursier
/.dbshell
/.docker
/.dropbox
/.gem
/.gitignore.swp
/.gnuplot_history
/.gradle
/.heroku
/.hgignore_global
/.htoprc
/.idea-build
/.ipynb_checkpoints
/.ipython
/.ivy2
/.jupyter
/.jupyter-scala
/.kodi
/.lesshst
/.local/share
/.m2
/.mongorc.js
/.netrc
/.netrwhist
/.npm
/.octave_hist
/.oh-my-zsh
/.psql_history
/.rnd
/.sbt
/.scala_history
/.spark_history
/.ssh
/.vim-fuf-data
/.vim/.netrwhist
/.vim/bundle
/.viminfo
/.yjp
/.zep
/.zsh-update
/.zsh_history
/[^.]*
