/[^.]*
*.elc
.netrwhist
/.ivy2
/.npm
/.viminfo
/.yjp
/.psql_history
/.gradle
/.gem
/.vim/bundle/*
/.dropbox
/.docker
/.cache
/.CFUserTextEncoding
/.DS_Store
/.IntelliJIdea14
/.IntelliJIdea15
/.Trash
/.ammonite
/.bash_history
/.config
/.dbshell
/.gitignore.swp
/.htoprc
/.idea-build
/.lesshst
/.m2
/.mongorc.js
/.sbt
/.scala_history
/.ssh
!/.ssh/config
